* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-container {
    min-width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
    border-radius: 3px;

    .top-section {
      flex: 0 0 50%;
    }

    .bottom-section {
      flex: 0 0 50%;
    }
  }
}

.btn {
  border: 1px solid #ddd;
  margin: 15px 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.popup-container {
  position: absolute;
  will-change: transform;
  top: -60px;
  left: -29px;
  transform: translate3d(487px, 177px, 0px);
  width: 12em;
  height: 5em;
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 2px rgba(15, 15, 15, 0.2);
  font-size: 16px;
}

.form-container {
  padding: 6px;
  width: 100%;
  label {
    font-size: 11px;
  }
  input {
    border-radius: 2px;
    border: 1px solid rgba(15, 15, 15, 0.2);
  }
}
