.bottom-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #6abeca 0%, rgba(58, 98, 104, 0.57) 100%),
    url(../../resources/images/sunny-weather.jpeg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  .inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.forcastday-container {
  width: 8em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .image {
    width: 3em;
    height: 3em;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .text {
    font-size: 14px;
    color: #fff;
  }

  .muted-text {
    font-size: 10px;
    color: #fff;
  }
}
