.top-container {
  display: flex;
  flex-direction: column;
  font-family: Oxygen, sans-serif;
  align-items: center;
  background-color: #445a71;
  height: 100%;
  width: 100%;

  .title {
    color: #fff;
    font-size: 16px;
    margin-top: 6px;
  }
}

.weather-container {
  margin-top: 1.2em;
  color: #fff;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 13px;
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    margin: 10px 0;
    align-items: center;

    .current-weather {
      height: fit-content;
      font-size: 28px;
    }

    .image {
      width: 4em;
      height: 4em;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 13px;
  }
}

.btn-select-location {
  background-color: #49dcc2;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  border-radius: 2px;
  color: #222;
}
